<%- include('../partials/_header') %>
<body class="main-layout inner_posituong" style="background-color:#1E1D42;">
  <%- include('../partials/_navbar') %>

  <div class="container mt-5">
    <h2 class="mb-4" style="color: white;"><i class="fas fa-edit"></i> Duyuruyu Güncelle</h2>

    <form action="/admin/announcements/update/<%= announcement._id %>" method="POST">
      <div class="mb-3">
          <label for="title" class="form-label" style="color: white;">
              <i class="fas fa-heading me-2"></i> Başlık
          </label>
          <input type="text" style="background-color: #ADD8E6" class="form-control" id="title" name="title" value="<%= announcement.title %>" required>
      </div>
  
      <div class="mb-3">
          <label for="content" class="form-label" style="color: white;">
              <i class="fas fa-file-alt me-2"></i> İçerik
          </label>
          <textarea class="form-control" style="background-color: #ADD8E6" id="content" name="content" rows="5" required><%= announcement.content %></textarea>
      </div>
  
      <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Kaydet</button>
      <a href="/admin/announcements" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Geri</a>
  </form>
  </div>

  <%- include('../partials/_footer') %>
</body>
