      <!-- header -->
      <header>
        <!-- header inner -->
        <div class="header">
           <div class="container-fluid">
              <div class="row">
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                       <div class="center-desk">
                        <div class="logo">
                           <a href="/"><img src="/images/logo.png" alt="#" /></a>
                        </div>
                        
                       </div>
                    </div>
                 </div>
                 <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                       <span class="navbar-toggler-icon"></span>
                       </button>
                       <div class="collapse navbar-collapse" id="navbarsExample04">
                          <ul class="navbar-nav mr-auto">
                             <% if (user) { %>
                               <% if (user.role === 'admin') { %>
                                 <li class="nav-item <%= link === 'index' ? 'active' : '' %>">
                                    <a class="nav-link" href="/">Anasayfa</a>
                                  </li>
                                 <li class="nav-item <%= link === 'admin-dashboard' ? 'active' : '' %>">
                                    <a class="nav-link" href="/admin/dashboard">Dashboard</a>
                                  </li>
                                  <li class="nav-item <%= link === 'admin-reports' ? 'active' : '' %>">
                                    <a class="nav-link" href="/admin/reports">Raporlar</a>
                                  </li>
                                  <li class="nav-item <%= link === 'admin-announcements' ? 'active' : '' %>">
                                    <a class="nav-link" href="/admin/announcements">Duyurular</a>
                                  </li>
                                  <li class="nav-item <%= link === 'admin-lab-details' ? 'active' : '' %>">
                                    <a class="nav-link" href="/admin/labs">Laboratuvar Detayları</a>
                                  </li>
                               <% } else if (user.role === 'operator') { %>
                                 <li class="nav-item <%= link === 'operator-dashboard' ? 'active' : '' %>">
                                    <a class="nav-link" href="/operator/dashboard">Bilgisayar Yönetimi</a>
                                  </li>
                                  <li class="nav-item <%= link === 'operator-scannedStudent' ? 'active' : '' %>">
                                    <a class="nav-link" href="/operator/scannedStudent">Öğrenci İşlemleri</a>
                                  </li>
                                  <li class="nav-item <%= link === 'operator-labStatus' ? 'active' : '' %>">
                                    <a class="nav-link" href="/operator/labStatus">Lab Durumları</a>
                                  </li>
                               <% } else if (user.role === 'student') { %>
                                 <li class="nav-item <%= link === 'student-dashboard' ? 'active' : '' %>">
                                    <a class="nav-link" href="/student/dashboard">Ana Sayfa</a>
                                  </li>
                                  <li class="nav-item <%= link === 'lab-history' ? 'active' : '' %>">
                                    <a class="nav-link" href="/student/lab-history">Kullanım Geçmişi</a>
                                  </li>
                                  <li class="nav-item <%= link === 'lab-computer-status' ? 'active' : '' %>">
                                    <a class="nav-link" href="/student/lab-computer-status">Laboratuvar Bilgisayar Durumları</a>
                                  </li>
                               <% } %>
                               <li class="nav-item">
                                  <a class="nav-link" href="/logout">Çıkış Yap</a>
                               </li>
                             <% } else { %>
                             
                                 <li class="nav-item">
                                    <a class="nav-link" href="/login">Giriş Yap</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="/register">Kayıt Ol</a>
                                 </li>
                             <% } %>
                          </ul>
                       </div>
                    </nav>
                 </div>
              </div>
           </div>
        </div>
     </header>
     <!-- end header inner -->
     <!-- end header -->