<%- include('partials/_header') %>

   <!-- body -->
   <body class="main-layout inner_posituong">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <%- include('partials/_navbar') %>

      <!-- end header inner -->
      <!-- products -->
      <div class="products">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Our Products</h2>
                  </div>
               </div>
            </div>
            
            <!-- Sidebar ve Products aynı satırda -->
            <div class="row">
               
               <!-- Sidebar (Left) -->
               <div class="col-lg-2 col-md-4">
                  <div class="widget-search">
                     <div class="site-search-area">
                        <form method="get" id="site-searchform" action="#">
                           <div>
                              <input class="input-text form-control" name="search-k" id="search-k" placeholder="Search keywords..." type="text">
                              <input id="searchsubmit" value="Search" type="submit">
                           </div>
                        </form>
                     </div>
                  </div>
                  <div class="widget-categories">
                     <h3 class="widget-title">Categories</h3>
                     <ul>
                        <%  for (let i = 0; i< categories.length;i++)  { %>  
                           <li><a href="/computers?categories=<%= categories[i]._id %>"><%= categories[i].name %></a></li>
                           <% } %>                      
                     </ul>
                  </div>
               </div>
               
               <!-- Products (Right) -->
               <div class="col-lg-10 col-md-8">
                  <div class="our_products">
                     <div class="row">
                        <% for (computer of computers) { %>
                        <div class="col-md-2 margin_bottom1">
                           <div class="product_box">
                              <figure><a href="/computers/<%= computer._id %>"><img src="images/pc.png" alt="#"/></a></figure>
                              <h3><%= computer.name %></h3>
                              <h4><%= computer.description %></h4>
                           </div>
                        </div>
                        <% } %>
                        
                        <div class="col-md-12">
                           <a class="read_more" href="#">See More</a>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
      <!-- end products -->
      <!-- footer -->
      <%- include('partials/_footer') %>
